# watchdog is for celery hot reload
# https://stackoverflow.com/a/43929298/8608146
watchdog
# these two are for watchmedo
argh
pyyaml

amqp
anyjson
blinker
celery
certifi
chardet
dnspython
Flask
Flask-Ext
Flask-SocketIO
greenlet
idna
importlib-metadata
monotonic
ordereddict
redis
requests
eventlet
